<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="universal.css">
<title>Add New Patient's Details</title>
</head>
<body>
<div>
	<form method="get" action="add/patients/">
		<h1>Add patient's Details</h1>
		<h3>Name</h3>
			<input type="text" name="name"/><br>
		<h3>Age</h3>
			<input type="text" name="age"/><br>
		<h3>Gender</h3>
			<input type="radio" name="gender" value="true" checked/> Male <br/>
			<input type="radio" name="gender" value="false" checked/> Female <br/>
		<h3>Description</h3>
			<textarea name="description"></textarea>
		<h3>Prescription</h3>
			<textarea name="prescription"></textarea>
		<button type="submit">Add patients</button>
	</form>

</div>
</body>
</html>